<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-content container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <p class="logo-words">Rent n' Ride</p>
    <% end %>

    <%= link_to "Insert a car", new_car_path, class: "insert_car" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <i class="fas fa-bars fa-lg" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > </i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
              <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
